*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h1 { font-size: 72px; }
h2 { font-size: 64px; }
h3 { font-size: 56px; }
h4 { font-size: 48px; }
h5 { font-size: 40px; }
h6 { font-size: 32px; }
p  { font-size: 24px; }



ul {
    list-style-type: none;
}

body {
	min-height: 100vh;
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
    background-color: #030303;
}

.hidden {
	display: none;
}
